{% load static from staticfiles %}
<html lang="uk">

<head>

  <meta charset='UTF-8'/>
  <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
  <meta name="description"
        value="Система Обліку Студентів Навчального Закладу"/>

  <!-- Latest compiled and minified CSS -->

         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	
	<link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">

      {% block extra_css %}{% endblock extra_css %}



</head>

<body>

<!-- Start Container -->
  <div class="container">

<!-- Start Header -->
    <div class="row" id="header">

<!-- Logo -->
      <div class="col-xs-8">
      <h1>Сервіс обліку студентів</h1>
      </div>

<!-- Groups Selector -->
      <div class="col-xs-4" id="group-selector">
        <strong>Група:</strong>
	<select>
	  <option value="">Усі студенти</option>
	  <option value="">МтМ - 21, Подоба Віталій (No 254)</option>
	  <option value="">МтМ - 22, Корост Андрій (No 2123)</option>
	</select>
      </div>
    </div>
<!-- End Header -->

<!-- Start SubHeader -->
    <div class="row" id="sub-header">
      <div class="col-xs-12">
	<ul class="nav nav-tabs" role="tablist">
       {% url "home" as root_path %}
          <li role="presentation"  {% if request.path == root_path %} class="active"{% endif %}><a href="{% url "home"  %}">Студенти</a></li>
          <li role="presentation"  {% if '/visits' in request.path %} class="active"{% endif %}><a href="{% url 'visits' %}">Відвідування</a></li>
	      <li role="presentation"  {% if '/groups' in request.path %} class="active"{% endif %}><a href="{% url 'groups' %}">Групи</a></li>
          <li role="presentation"  {% if '/exams' in request.path %} class="active"{% endif %}><a href="{% url 'exams' %}">Іспити</a></li>
          <li role="presentation"  {% if '/result_exam' in request.path %} class="active"{% endif %}><a href="{% url 'result_list' %}">Резульати іспитів</a></li>
	</ul>
      </div>
    </div>
<!-- End SubHeader -->

<!-- Start Content Columns -->
    <div class="row" id="content-colums">
 	
	<div class="col-xs-12" id="content-column">

        
	
	{% block status_message %}
    {% if request.GET.status_message %}
    <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}
    </div>
    {% endif %}
    {% endblock %}




 <div class="col-xs-10">
<h2>{% block title %}{% endblock title %}</h2>
</div>
<div class="col-xs-12">
{% block content %}{% endblock content %}
</div>

	    </div>
    </div>
<!-- End Content Columns-->

<!-- Start Footer -->
    <div class="row" id="footer">
      <div class="col-xs-12">
      &copy; 2014 Сервіс Обліку Студентів
      </div>
    </div>
<!-- End Footer -->
  
  </div>	
<!-- End Container -->  

  
 <!-- Optional: Include the jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock extra_js %}
</body>

</html>
